.forgot-pass {
    padding: 1em;
  }
  
  .forgot-pass__title {
    text-align: center;
  }
  
  .forgot-pass__button {
    display: block;
    width: 100%;
    margin: 0.8em 0;
    text-align: center;
  }
  