/* Typography */

/* h1 */
@mixin h1-reset {
    font-size: 2em;
}

@mixin h2-reset {
    font-size: 0em;
}

@mixin h3-reset {
    font-size: 0em;
}

@mixin h4-reset {
    font-size: 0em;
}

@mixin h5-reset {
    font-size: 0em;
}

@mixin h6-reset {
    font-size: 0em;
}
